wrapperUrl=https://repo.maven.apache.org/maven2/org/apache/maven/wrapper/maven-wrapper/3.2.0/maven-wrapper-3.2.0.jar
wrapperSha256Sum=<spot>e63a53cfb9c4d291ebe3c2b0edacb7622bbc480326beaa5a0456e412f52f066a</spot>
